<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Aliens!!!</h1>
	<%for (let i = 0; i < aliens.length; i++) { %>
		<h3><%=aliens[i].name%></h3>
		
		<a href="/aliens/<%=i%>">View Alien Stats</a>
		
		<% } %>


</body>
</html>